#### Ce petit programme simple vous permet de trouver un article dans un dataset en fonction de sa référence ou de sa description. Il peut-être utilisé par les services informatiques des entreprises dans les secteurs de l'industrie ou du commerce qui gère de grosses bases de données sur des produits divers.

##### La fonction conçue de façon interactive permet à un utilisateur de chercher l'article dans deux champs : référence et description

In [1]:
def TrouveArticle(tableau):
       
    #On demande à l'utilisateur d'entrer un code de référence ou une description pour l'article  
    print("Entrer le code de référence ou la description de l'article recherché : \n")
    article = input()  
        
    #On cherche l'article dans le tableau à partir de sa référence 
    if article in list(tableau.reference) :
        statut_recherche = True  #indique que l'article recherché existe
        return tableau[tableau["reference"] == article]
    
    #On cherche l'article dans le tableau à partir de sa description
    elif article in list(tableau.description) :
        statut_recherche = True   #indique que l'article recherché existe
        return tableau[tableau["description"] == article]
    
    else:
        statut_recherche = False  #indique que l'article recherché n'existe pas
        return "L'article recherché ne se trouve pas dans le dataset"

##### Test de la fonction avec un dataset de données fictives

In [2]:
#Construction d'un tableau avec des données fictives (version minimaliste avec 5 articles)

import pandas as pd

liste_article = {"reference"      : ["A1","A2","A3", "A4", "A5"],
                 "description"    : ["Descrip1","Descrip2","Descrip3","Descrip4", "Descrip5"],
                 "poids_unitaire" : [6.1,8.3,9.4,12.8,45.2],
                 "prix_unitaire"  : [74.4, 78.2, 85.1, 92.2,430.9]}

tableau = pd.DataFrame(data = liste_article)
tableau

  reference description  poids_unitaire  prix_unitaire
0        A1    Descrip1             6.1           74.4
1        A2    Descrip2             8.3           78.2
2        A3    Descrip3             9.4           85.1
3        A4    Descrip4            12.8           92.2
4        A5    Descrip5            45.2          430.9

In [3]:
#Avec un article dont la référence se trouve dans le tableau : A3
TrouveArticle(tableau)

Entrer le code de référence ou la description de l'article recherché :

 A3

  reference description  poids_unitaire  prix_unitaire
2        A3    Descrip3             9.4           85.1

In [4]:
#Avec un article dont la description se trouve dans le tableau : Descrip4
TrouveArticle(tableau)

Entrer le code de référence ou la description de l'article recherché :

 Descrip4

  reference description  poids_unitaire  prix_unitaire
3        A4    Descrip4            12.8           92.2

In [5]:
#Avec un article dont ni la référence ou la decription ne se trouve dans le tableau : A67 , Descrip49
TrouveArticle(tableau)

Entrer le code de référence ou la description de l'article recherché :

 A67

"L'article recherché ne se trouve pas dans le dataset"

In [6]:
TrouveArticle(tableau)

Entrer le code de référence ou la description de l'article recherché :

 Descrip49

"L'article recherché ne se trouve pas dans le dataset"